@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

* {
	/* Style Reset */
	font-size: 62.5%;
	box-sizing: border-box;
	/* Colours */
	--dark-grey : #676767;
	--light-grey: #F6F6F6;
	--lavender: #BDC6D9;
	--dark-blue: #52688F;
	--off-white: #fdfdfd;
	--blue: #7391C8;
	/* Font Size */
	--large: 3.5rem;
	--medium: 2.5rem;
	--small: 1.5rem
	

}

body {
	line-height: 17px;
	background-color: #F6F6F6;
	font-size: var(--mediums);
}
a {
	color: #20AAE5;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	height:  4rem;
	padding: 0 2rem;
	background-color: var(--light-grey);
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	display: grid;
	grid-template-columns: 67% 18% 15%  ;
	align-content: center;
	column-gap: 0;
	box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.2);
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	font-size: 2.5rem;
	position: relative;
	top: 25%;
	color: var(--dark-grey);
}

a:hover {
	text-decoration: none;
}

nav {
	width: 100%;
	text-align: right;
	align-self: center;
	display: flex;
}

nav a{
	font-size: 1.7rem;
	margin: 0 0.4rem;
	color: var(--dark-grey);
	justify-self: center;
}

nav a:hover {
	color: var(--dark-blue);
}

.a-notification {
	display: block;
	position: relative;
}

/* Search  */
.search {
	display: flex;
	color: var(--dark-grey);
	font-size: 2rem;
	width: 80%;
	justify-self: right;
	position: relative;
}

.search #search {
	border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: thin solid #e5e5e5;
	align-self: center;
}

#search_text_input {
	border: thin solid #e5e5e5;
	height: 2.5rem;
	outline: 0;
	width: 85%;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	padding: 0 1.5rem;
	background-color: #fff;
	border: thin solid #fff;
	justify-self: right;
	font-weight: 600;
	
}


.button_holder {
	background-color: #fff;
	cursor: pointer;
	float:right;
	height: 2.5rem;
	width: 15%;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	font-size: 2.5rem;
	text-align: center;
}


 .wrapper {
	margin: 0 auto;
	max-width: 1200px;
	background-color: var(--off-white);
}

.column {
	/* background-color: #fff; */
	/* padding: 10px; */
	/* border: 1px solid #D3D3D3; */
	/* border-radius: 5px; */
	/* box-shadow: 2px 2px 1px #D3D3D3; */
	z-index: -1;
	/* color: #555; */
}

.main_column {
	margin: 0 auto;
	max-width: 66%;
	z-index: -1;
	min-height: 170px;
	padding-top: 3rem
}

/* POST FORM */
.post_form {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	font-size: var(--medium);
	height: 5rem;
}

 .post_form textarea {
	width: 50%;
	height: 100%;
	border-radius: 3rem;
	resize: none;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 1.5rem 2rem;
}


textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 10%;
	height: 4.6rem;
	border: none;
	border-radius: 3px;
	background-color: var(--blue);
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: var(--off-white);
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
} 

.post_form_pic {
	height: 5rem;
	border-radius: 50%;
	margin: 0 1rem;
}

.btn {
	font-size: 2.1rem;
	color: var(--off-white);
	background-color: var(--blue);
	height: 4.6rem;
	width: 20%;
}

/* POSTS */

.status_post {
	width: 100%;
	height: fit-content;
	font-size: 2rem;
	padding: 0px 5px;
	cursor: pointer;
	display: grid;
	grid-template-rows: auto auto auto;
	margin: 7rem 0;

}

.post_profile_pic {
	height: 100%;
	width: 100%;
	text-align: center;
}

.post_profile_pic img {
	border-radius: 50%;
	height: fit-content;
}


.post-header {
	display: grid;
	grid-template-columns: 10% 60% 30%;
	align-self: center;
	border: 1px solid #707070;
	position: relative;
	padding: .3rem 0
}

.posted_by {
	width: 100%;
	font-size: 2rem;
	align-self: center;
}

.posted_by span {
	font-size: 2rem;
	color: var(--dark-blue);
}

.posted_by a {
	font-size: 2rem;
	color: var(--dark-blue);
}

.right-side-header {
	font-weight: 600;
	align-self: center;
	font-size: 1.5rem;
	color: var(--dark-blue);
	text-align: right;
	padding-right: 1rem;

}


#post_body {
	background-color: var(--lavender);
	padding: 3rem 0 0 1rem ;
	font-size: 2rem;
	color: var(--dark-blue);
	text-align: center;

}

/* Comment */

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
	}
	
	.comment_section {
	padding: 0 5px 5px 5px;
	}
	
	.comment_section img {
		margin: 0 3px 3px 3px;
		border-radius: 3px;
	}
	
	#comment_form textarea {
		
		width: 85%;
		height: 35px;
		border-radius: 5px;
		color: #616060;
		margin: 3px 3px 3px 5px;
	}
	
	#comment_form input[type='submit'] {
		border:none;
		background-color: #20AAE5;
		color: #156588;
		border-radius: 5px;
		width: 13%;
		height: 41px;
		margin-top: 3px;
		position: absolute;
		font-family: 'Bellota-BoldItalic', sans-serif;
		color: #1e75CA;
		text-shadow: #73B6E2 0.5px 0.5px 0px;
	}
	
	.newsFeedPostOptions {
		padding: 0px;
		text-decoration: none;
		color: var(--blue);
		border: none;
		width: 50%;
	}
	
	.newsFeedPostOptions iframe{
		border: 0px;
		height: 2rem;
		width: 50%;

	}
	
	
	.comment_like {
		background-color: transparent;
		border: none;
		font-size: 14px;
		color: #3498DB;
		padding: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
	
	.like-form {
		display: flex;
		padding-top: .3rem;
		font-size: 2rem;
		color: var(--blue);
	}

	.like-form input[type='submit'] {
		color: var(--blue);
	}

	.like_value {
		font-size: 1.2rem;
		color: var(--blue);
	}

	.delete_button {
		height: 22px;
		width: 22px;
		padding: 0;
		border-radius: 4px;
		background-color: var(--dark-grey);
		border: none;
	}

	.delete_button:hover {
		background-color: #545252;
	}


.user_details {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.user_details img {
	height: 120px;
	border-radius: 5px;
	margin-right: 5px;
}

.user_details_left_right {
	width: 120px;
	display: inline-table;
	position: absolute;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_top-container {
	width: 100%;
	background:#BDC6D9;
}

.profile-top {
	display: grid;
	grid-template-columns: 30% 50% 20%;
	grid-template-rows: 1 ;
	padding: 0;
	align-items: center;
}

.profile-top img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	justify-self: center;
	
}
.profile-details {
	display: flex;
	padding: 0 1rem;
	width: 100%;
}
.profile-top p {
    font-size: 1.5rem;
    align-self: center;
    padding: 0 1rem;
}
.profile_info {
	font-size: 2rem;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile-buttons {
	width: 40%;
	display: flex;
	
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}


.danger {
	background-color: #E74C3C;
}
.warning {
	background-color: #F0AD4E;
}
.default {
	background-color: #BDC3C7;
}
.success {
	background-color: #2ECC71;

}
.info {
	background-color: #3498DB;
}

.input-profile-button {
	background-color: var(--blue);
	border: none;
	font-size: 1.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0 0.5rem;
	height: fit-content;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;

}

#accept_button{
	width: 20%;
	height:28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ECC71;
}

#ignore_button{
	width: 20%;
	height:28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #E74C3C;
}


.profile_info_bottom{
	margin: 10px 0 0 7px;
}

.modal-body {
	font-size: 2.5rem;
	padding: 2rem;
}


#grey {
	color: #8C8C8C;
}

.resultDisplay {
	padding: 1rem;
	height: fit-content;
	border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a {
	float: none;
}

.resultDisplay:hover {
	background-color: #Ebebeb;
	text-decoration: none;
}

.liveSearchProfilePic img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
	font-size: 1.5rem;
}

.liveSearchtext {
	background-color: transparent;
	color: #1E96CA;
	
}

.liveSearchText p{
	margin-left: 10px;;
	font-size: 14px;
	
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
	background-color: #fff;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 290px;
	position: absolute;
	right: 10px;
	top: 40px;
	overflow-y: scroll;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	right: -6px;
	top: -7px;
} 


.resultDisplayNotification {
	height: auto;
	color: #1485BD;
	padding: 7px;
}

.resultDisplayNotification img{
	height: 51px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
	
}

.timestamp_smaller {
	font-size: 70%;
	margin: 0;
}




.search_results {
	background-color: #fff;
	border: 1px solid #dadada;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
	position: absolute;
}

.search_results_footer {
	padding: 5px 4px 0px 4px;
	height:27px;
	border:1px solid #dadada;
	border-top: none;
	background-color: #20AAE5;
	text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
	height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"]{
	border:none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff
}

.result_profile_pic {
	float: left;
	margin-right: 10px;
}

#search_hr {
	margin-bottom: 0;
}

.postedImage{
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

input[type="file"] {
    display: none;
}

/* Messages Page */
.messages-main-column {
	font-size: 4rem;
	display: flex;
	flex-direction: column;
	width: 80%;
}

.message-page {
	display: flex;
	width: 90%;
	margin: 0 auto;
	height: 80vh;
}

.messages-user_details {
	width: 20%;
	/* height: 100%; */
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
}


.loaded_conversations {
    overflow-y: scroll;
	font-size: 4rem;
	
}


#message_textarea {
	width: 70%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	font-size: 12px;
}

#message_submit {
	height: 41px;
	width: 10%;
	margin: 0%;
	position: absolute;
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #1e75CA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}

.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 100%;
	overflow-y: auto;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.user_found_messages {
	border-bottom: 1px solid #d3d3d3;
	padding: 8px 8px 10px 8px;
}
.user_found_messages p {
	font-size: 1.2rem;
}
.user_found_messages:hover {
	background-color: #d3d3d3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}


/* Requests Page */
.requests-page h4 {
	font-size: 3rem;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--dark-grey);
}
.requests-page {
	font-size: 2rem;
	padding: 3rem 0;
}
.request-form {
	margin: 1rem 0;
}
.requestName {
	margin-bottom: 1rem;
	font-size: 2rem;
}

/* Settings */
.settings-page {
	font-size: 3rem;
	padding-bottom: 2rem;
}
.page-heading {
	text-align: center;
	font-size: 3rem;
}

.settings-image {
	width: 100%;
}

.settings_profile_pic {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	margin: 1rem 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.profile-change{
	display: block;
	text-align: center;
}

.settings-page label {
	font-size: 2rem;
}


#settings_input {
	border: 1px solid #ccc;
	height: 3rem;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	margin: 0 1rem;
	margin-bottom: 10px;
}

.settings_submit {
	border:none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
	margin: 1rem 0;
}

.form-heading {
	font-size: 2.5rem;
}
.settings-page form {
	margin: 3rem 0;
}

.close-account-form {
	text-align: center;
	
}

#formExample {
	font-size: 3rem;
}

#CroppingContainer {
	font-size: 3rem;
}
.resultText {
	font-size: 2rem;
}

.alert-danger {
	font-size: 2rem;
}